name: Flatter (GitHub Pages)

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  flatter:
    name: Flatter
    runs-on: ${{ matrix.arch == 'aarch64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    container:
      image: ghcr.io/andyholmes/flatter/kde:6.10
      options: --privileged

    strategy:
      matrix:
        arch: [x86_64, aarch64]
      fail-fast: false
      max-parallel: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Generate a CNAME file in current directory
      - name: Generate CNAME
        run: |
          echo "flatter.althaea.zone" > CNAME
      
      - name: temporary, install testing prism
        run: |
          flatpak install -y --user https://dl.flathub.org/build-repo/258311/org.prismlauncher.PrismLauncher.flatpakref

      - name: Build
        uses: andyholmes/flatter@5edca6dbb040511ddbf4e2f2db927d6ceacaf36c
        with:
          arch: ${{ matrix.arch }}
          files: |
            org.prismlauncher.PrismLauncher.Wrapper.waywall.yml
          upload-pages-artifact: ${{ matrix.arch == 'aarch64' }}
          upload-pages-includes: |
            CNAME
            default.css
            index.html

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: flatter
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
